@charset "utf-8";
/* CSS Document */


#main{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	background: url(../images/km.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


}
#container{
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-top: 15px;
	max-width: 1000px;
	background-color: #FFEFFF;
}

#footer{
	background-color:;
	margin-top: 15px;
}

#img{
	margin-top: 20px;
}
#fromlogin{
	margin-top: 100px;
}